<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arubaapps.idiomas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".InicioActivity"
            android:theme="@style/Theme.ActivityWithToolBar"
            android:label="@string/Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.NewEventActivity"
            android:theme="@style/Theme.MyDialogWithoutBar"
            android:label="@string/Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity">
        </activity>

        <activity
            android:name=".Activities.SearchActivity"
            android:theme="@style/Theme.MyDialogWhithoutActionBar"
            android:label="@string/Search">
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:theme="@style/Theme.MyDialogWhithoutActionBar"
            android:label="@string/Profile">
        </activity>
    </application>

</manifest>